@(lista: List[Usuario])

@import helper._

@admintemplate("Listado de Usuarios") {
    
<h2 class="text-center">Listado de Usuarios</h2>

@if(flash.containsKey("success")) {
		<span class="alert alert-success"">@flash.get("success")</span>
		<br><br>
} 

<table class="table table-hover table-bordered">
	<tr>
		<th>ID</th>
		<th>Nombres</th>
		<th>Apellidos</th>
		<th>Edad</th>
		<th>Correo</th>
		<th>Username</th>
		<th>Grupo</th>
		<th>Editar</th>
		<th>Borrar</th>
	</tr>

	@for(registro <- lista) {
	<tr>
		<td>@registro.id</td>
		<td>@registro.nombres</td>
		<td>@registro.apellidos</td>
		<td>@registro.edad</td>
		<td>@registro.correo</td>
		<td>@registro.username</td>
		<td>@registro.grupo</td>
		<td><a href="@routes.Usuarios.editar(registro.id)"><img src="@routes.Assets.at("images/edit.png")" alt="editar Usuario" title="Editar Usuario"></a></td>
		<td>@form(routes.Usuarios.borrarUsuario(registro.id)){<button type="image" style="border:0; background-color:transparent;"><img src="@routes.Assets.at("images/del.png")" alt="borrar Usuario" title="Borrar Usuario"></button>}</td>
	</tr>
	}
</table>

}
