body{
  background-color: #9E715C;
  color:#3B3E37;
}

/*
===css encabezado y logo===
*/
#header{
  background-color: #BC8554;
  background-image:  url(fondo.jpg);
  margin-top: 2%;
  height: 150px;
  padding-top: 20px;
  color: #5A4644;
  font-family: 'Lato', 'sans-serif';
  /*para que no salte el texto al navbar*/
  white-space: nowrap;

}
#header img {
  float: left;
  box-shadow: #808080;
}

/*
===css menu lateral===
*/
#menulateral{
  background-color: #F1F1F1;
  height: 25%;

}

/*
===css area contenido===
*/

#contenido{
   background-color:  #FFFFFF;
   padding: 15px 15px;
   box-shadow: #808080

}
/*
===css que abarca menu lateral y contenido===
*/
#menucontenido{
  background-color: #F1F1F1;
  height: 100%;
  box-shadow: #808080

}

/*
===css pie de pagina===
*/
#footer{
  background-color: #FFE2A9;
  height: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  /*subir wrapper*/
  margin-bottom: 1%;
  white-space: nowrap;

}
/*
===iconos redes sociales===
*/
#socialmedia{
  float: right;
  padding-right: 24px;
  box-shadow: #808080

}

/*remover espacio entre menu lateral y area contenido */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}