@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	<div class="container-fluid">
	<!-- Top navbar -->
	<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					@if(session.get("username") == null) {
					<a class="brand" href="@routes.Application.index">Muebleria Navarro</a>}
					@*mostrar panel usuario*@
					@if(session.get("username") != null) {
						<a class="brand" href="@routes.Application.index">Bienvenido @session.get("username")</a>}
					
					<ul class="nav">
						@*Ocultamiento de informacion para usuarios logueados*@
						@if(session.get("username") == null) {
						<li class="divider-vertical"></li>
						<li class="active"><a href="@routes.Application.mostrarFormulario">Registro</a></li>
						<li class="divider-vertical"></li>
						<li><a href="@routes.Application.mostrarLogin"">Ingresar</a></li>
						<li class="divider-vertical"></li>}
						<li><a href="">Solicitar Cotizacion</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Contactenos</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Panel Admin</a></li>
						@*Mostrar Boton salir si esta logueado*@
						@if(session.get("username") != null) {
						<li class="divider-vertical"></li>
						<li><a href="@routes.Application.cerrarSesion">Salir</a></li>
						<li class="divider-vertical"></li>}
					</ul>
				</div>	
			</div>
		</div>
		
		<!-- Encabezado -->
		<div id="header" class="row-fluid">
			<div class="span12">
			<img src="@routes.Assets.at("images/logo.png")" alt="logo Muebleria Navarro">
			<h1 class="text-center">Muebleria Navarro</h1>
			<h2 class="text-center">"Construyendo tus sueños en Madera"</h2>
			</div>
		</div>

		<!-- contenido y menu lateral -->
		<div id="menucontenido" class="row-fluid">
			<div id="menulateral" class="span2 ">
				<p>Categoria Muebles</p>
				<ul>
					<li>elemento1</li>
					<li>elemento1</li>
					<li>elemento1</li>
					<li>elemento1</li>
				</ul>
			</div>
			<div id="contenido" class="span10 ">
				@content 
			</div>
		</div>
		<!--footer  -->
		<div id="footer" class="row-fluid text-center">
			<div id="socialmedia">
				<img src="@routes.Assets.at("images/socialmedia/facebook.png")" alt="facebook logo">
				<img src="@routes.Assets.at("images/socialmedia/twitter.png")" alt="twitter logo">
				<img src="@routes.Assets.at("images/socialmedia/youtube.png")" alt="youtube logo">
			</div>
			<address>
				Blvd Venezuela No 2230 Ent 39 y 41 Av Sur
				El Salvador, San Salvador
				Telefax: (503) 25130404 
			</address>
		</div>
	</div>
 
    </body>
</html>
